Host *
	IdentityAgent /Users/mike/Library/Containers/com.maxgoedjen.Secretive.SecretAgent/Data/socket.ssh

Host omv
  HostName omv.local
  User media


Host proxmox
  HostName proxmox.local
  User root

Host arvin
  HostName arvin.local
  User volumio

Host m1max16
    HostName M1-Max-MBP16.local
    User mike

Host m1pro14
    HostName M1-Pro-MBP14.local
    User mike

Host familyroom
    HostName family-room-mini.local
    User familyroom

Host m1mini
    Hostname m1-mini.local
    User mike
